Data processing libraries
pandas==2.1.1
numpy 

# Environment variable management
python-dotenv==1.0.0

# Phone number parsing and formatting 
phonenumbers==8.14.10

# Date and time manipulation
datetime 

# Logging library
logging

# MySQL connector
mysql-connector-python==8.1.0
