# Byte-compiled / optimized / DLL files

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
*.sqlite

# Archives
*.zip

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
# .vscode/

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to exclude from AI features like autocomplete and code analysis.
.cursorignore
.cursorindexingignore
